# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Builds and caches
/.next/
/out/
/dist/
/build/
/coverage/
/.cache/
/.swc/
/test-results/
/playwright-report/
/playwright/.cache/

# Misc
.DS_Store
*.lock
*.tsbuildinfo
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env

# Vercel
.vercel
